@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.navbar {
    background-color: rgb(242, 203, 145);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 4px;
}

.nav-logo{
    color: white;
    font-family: "Raleway", sans-serif; 
    padding: 0px 40px;
}

.nav-menu{
    display: flex;
    padding: 0px 60px;
    gap: 50px;

}

.nav-menu a{
    text-decoration: none;
    color: white;
    font-family: "Raleway", sans-serif; 
    font-weight: bolder;
    font-size: large;
}

.nav-item{
    display: flex;
    position: relative;
    padding-bottom: 8px;
}

.nav-item::after{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 3px solid white;
    border-radius: 10px;
    transform-origin: center;
    transform: scalex(0);
    transition: 0.25s linear;
}

.nav-item:hover::after{
    transform: scaleX(1);
}

.main{
    padding: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    display: flex;
}



.main-h2{
    padding: 30px;
    font-family: 'raleway', sans-serif;
    font-weight: bolder;
}

.main-h2 h2 {
    margin-left: 50px;
}
.main-h2 img{
    width: 20px;
    height: 20px;
}

.main-container{
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 60px;

}

.main-menu{
    border: 3px solid white;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px;
    height: 250px;
    width: 200px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-decoration: none;
    color: black    ;
    transition: 0.3s;
    transition: transform 0.3 ease;
}

.main h2{
     
}

.main-menu:hover{
    transform: scale(1.05);
}

.main-image{
    padding-right: 2px;
}

.main-image img{
    border: 3px solid transparent;
    border-radius: 10px;
    height: 150px;
    width: 100%;
    box-sizing: border-box;
   margin-top: 2px;
   
}

.foot{
    background-color: antiquewhite;
    margin-top: 100px;
    border-top:1px solid transparent ;
    box-shadow: 0px 0px 4px ;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    margin-left:50px ;
    margin-right: 50px;
    font-family: 'raleway', sans-serif;
}

.footer-content ul, a {
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 0;
}


.footer-botom{
    background-color: rgb(242, 203, 145);
    padding: 8px;
}

