@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



.navbar {
    background-color: rgb(242, 203, 145);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 4px;
    position: fixed;
    width: 100%;
}

.nav-logo{
    color: white;
    font-family: "Raleway", sans-serif; 
    padding: 0px 40px;
}

.nav-menu{
    display: flex;
    padding: 0px 60px;
    gap: 50px;
}

.nav-item{
    color: white;
    position: relative;
    padding-bottom: 8px;
}

.nav-item::after{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 3px solid white;
    transform: scaleX(0);
    transition: transform 0.25s linear;
    transform-origin: center;
}

.nav-item:hover::after{
    transform: scaleX(1);
}

.nav-menu a{
    text-decoration: none;
    color: white;
    font-family: "Raleway", sans-serif; 
    font-weight: bolder;
    font-size: large;
}

.main{
    padding: 100px;
}

.main-box{
    border: 1px solid transparent;
    width: 50%;
    box-sizing: border-box;
}

.main-header{
    font-family: 'raleway', sans-serif;
    
}

.box-menu{
    border: 2px solid transparent;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    box-sizing: border-box;
    width: 70%;
    height: 50px;
    align-items: center;
    gap: 0px;
    border-left: 8px solid rgb(242, 203, 145);
}

.box-menu img{
    width: 20px;
    height: 20px;
}

.box-icon{
    display: flex;
    gap: 5px;
}

.box-menu a{
    text-decoration: none;
    color: black;
    font-family: 'raleway', sans-serif;
    padding-left: 28px;
    font-weight: bold;
}

.main-table{
    margin-top: 50px;
    justify-items: left;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px;
    background-color: white;
    border-top: 10px solid rgb(242, 203, 145);
    border-radius: 10px;
    font-family: 'raleway', sans-serif;
}

.main-table table{
    margin-top: 15px;
    margin-bottom: 30px;
}

.main-table th, td{
    padding: 0 50px;
}

.ingredients
.direction{
    font-family: 'raleway', sans-serif;
}

.ingredients li,
.direction li{
    font-family: 'raleway', sans-serif;
    padding: 8px;
}

.direction li{
    list-style: none;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}